<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-slides pager>
      <!-- quiz questions  -->
        <ion-slide *ngFor="let question of questionList" style="background-color: green">
          <h2>{{question.name}}</h2>
           <!-- quiz answer options  -->
          <ion-list>
              <button *ngFor="let answer of question.options">
                {{answer.name}}
              </button>  
            </ion-list>
          
        </ion-slide>
      </ion-slides>

</ion-content>
